body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

nav li a.selected {
	color: #000;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

.rating {
	width: 90px;
	height: 20px;
}

.toy_description {
	height: 180px;
}

.toy_image_list img {
	height: 20%;
	width: 20%;
	float: left;
}

.toy_image_description {
	display: inline-flex;
}

.ratingRow {
	width: 90px;
	height: 20px;
}

.row_image {
	height: 20%;
	width: 20%;
}

th {
	font-size: 70%;
	text-align: left;
}

#best_seller_row {
	font-size: 70%;
	color: red;
}

#name_row {
	background-color: #cccccc;
	font-size: 70%;
}

#manufacturer_row {
	background-color: #cccccc;
	font-size: 70%;
}

#weight_row {
	background-color: #cccccc;
	font-size: 70%;
}

#price_row {
	color: red;
}

#top_title_table{
	font-size: 160%;
}




#top_title_tile{
	font-size: 160%;
}

.tiles_best_seller{
	font-size: 70%;
}

.tiles_image {
	height: 50%;
	width: 50%;
}

.tiles_price {
	padding-top: .2cm;
	color:red;
	font-size:70%;
}

.tiles_manufacturer{
	font-size: 55%;
}
.tiles_weight{
	font-size: 65%;
}

#tiles_rating{
	align:center;
	size:20%;
	
}
#container {
width: 100%;
margin: 2em auto;
}

.columns {
-moz-column-count:3;
-moz-column-gap: 3%;
-moz-column-width: 30%;
-webkit-column-count:3;
-webkit-column-gap: 3%;
-webkit-column-width: 30%;
column-count: 3;
column-gap: 3%;
column-width: 30%;
}

.box {
margin-bottom: 20px;
}

.toy_image_detail{
	size: 80%;
	webkit:box;
	display:block;
	float:left;
}

.toy_info_detail{
	display:block;
}